body{
    background-color: black;
}

html{
    margin: 0px;
}
.header{
    /* display: flex; */
    
}
.menu > ul{
    list-style: none;
    color: wheat;
    display: flex;
    
}

.menu{
    /* position: absolute; */
    float: right;
    /* margin-right: 50px;
    margin-top: 30px; */
    display: flex;
    margin-left: 100px;
    margin-bottom: 10px;
}

.logo{
    margin-top: 20px;
    margin-left: 100px;
    position: absolute;
}

.menu > ul > li{
    margin-left: 50px;
    margin-top: 30px;
}


.btn1, .btn2{
    padding: 20px;
    margin-right: 20px;
    border-radius: 20px;
    height: 30px;
    margin-top: 30px;
}
.btn1{
    margin-left: 20px;
    background-color: black;
    color: white;
    border-color: white;
}

.btn2{
    background-color: red;
}

.deal{
    width: 100%;
}

.section1{
    color: black;
    text-align: center;
    background-color: white;
    
}

.brands{
    margin-top: 50px;
    display: inline-flex;
}

.brands > img{
    margin-left: 50px;
}

.btn3, .btn4, .btn5{
    border-radius: 20px;
    width: 150px;
    height: 50px;
    padding: auto;
    background-color: black;
    color: white;
}

.card0{
    display: inline-flex;
    grid-gap: 50px;
}

.card1, .card2, .card3{
    background-color: white;
}

.logo-text{
    text-align: center;
    color: white;
    line-height: 49px;
    font-size: 52px;
}

.section1{
    background-color: black;
}

.section2 p{
    color: white;
    text-align: center;
    font-size: 28px;
}
.fr1 h2{
    color: red;
    letter-spacing: 15px;
    font-size: small;
}

.card4{
    margin-left: 50px;
}

.para{
    color: white;
    font-size: medium;
    line-height: 38px;
}

.card5{
   float: right;
   display:block;
}

.card6{
 display: inline;   
}