body{
    background-color: black;
}

html{
    margin: 0px;
}
.header{
    /* display: flex; */
    
}
.menu > ul{
    list-style: none;
    color: wheat;
    display: flex;
    
}

.menu{
    /* position: absolute; */
    float: right;
    /* margin-right: 50px;
    margin-top: 30px; */
    display: flex;
    margin-left: 100px;
    margin-bottom: 10px;
}

.logo{
    margin-top: 20px;
    margin-left: 100px;
    position: absolute;
}

.menu > ul > li{
    margin-left: 50px;
    margin-top: 30px;
}


.btn1, .btn2{
    padding: 20px;
    margin-right: 20px;
    border-radius: 20px;
    height: 30px;
    margin-top: 30px;
}
.btn1{
    margin-left: 20px;
    background-color: black;
    color: white;
    border-color: white;
}

.btn2{
    background-color: red;
}

.deal{
    width: 100%;
}

.section1{
    color: black;
    text-align: center;
    background-color: white;
    
}

.brands{
    margin-top: 50px;
    display: inline-flex;
}

.brands > img{
    margin-left: 50px;
}

.btn3, .btn4, .btn5{
    border-radius: 20px;
    width: 150px;
    height: 50px;
    padding: auto;
    background-color: black;
    color: white;
}

.card0{
    display: inline-flex;
    grid-gap: 50px;
}

.card1, .card2, .card3{
    background-color: white;
}

.logo-text{
    text-align: center;
    color: white;
    line-height: 49px;
    font-size: 52px;
}

.section1{
    background-color: black;
}

.section2 p{
    color: white;
    text-align: center;
    font-size: 28px;
}
.fr1 h2{
    color: red;
    letter-spacing: 15px;
    font-size: small;
}

.card4{
    margin-left: 50px;
}

.para{
    color: white;
    font-size: medium;
    line-height: 38px;
}

.card5{
   float: right;
   display:block;
}

.card6{
 margin-left: 50px; 
}

/* .section4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box1 > h2{
    color: white;
    line-height: 49px;
    font-size: 52px;
    
}

.box1 > h3{
    color: white;
   font-size: 48px;
}

.logo-text2{
    color: white;
    font-size: 48px;
}

.box2 > div{
    background-color: white;
    width: 300px;
    height: 300px;
    border: 2px solid black;
   
}

.box2{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.box01, .box02, .box03, .box04, .box05, .box06, .box07{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    justify-content: center;
}

.box3{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.box3 > div{
    width: 250px;
    height: 250px;
    /* border: 2ox solid black; */
}

.section6{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.section6 > div{
    width: 350px;
    height: 500px;
    /* border: 2px solid white; */
    background-color: black;
    flex-wrap: wrap;
}

.b1 > p{
    color: grey;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.b2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.b2 > h2{
    color: white;
}

.b2 > li{
    list-style: none;
    color: white;
    padding-top: 20px;
}

.section6 > .b1{
    width: 600px;
    height: 500px
}

.section6 > .b2{
    width: 200px;
}
.section6 > .b3{
    width: 400px;
}

.b3 > li{
    list-style: none;
    color: white;
    padding: 10px;
}

.b4 > h2{
    color: white;
}